@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

html{
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
    height: 100vh;
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}



.navbar-default {
    width: 100%;
}

.navTitle {
    font-family: 'Oswald', sans-serif;
}

.navbar-brand {
    padding-top: 0;
    margin-right: 20px;
}

#parallax{
    background-image: url('/images/caminhao01.jpg');
    height: 100%;

    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*
    opacity: 0.5;
    */
}

.img-parallax {
    display: block;
    margin: auto;
    color: white;
    margin-top: 25vh;
}

#linha01 {
    justify-content: space-around;
}

.block01 {
    height: auto;
    background-color: #343a40;
}

#coluna01 {
    height: auto;
    background-color: #C3D9F7;
    margin: 3%;
}

#col01_title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 4vh;
    padding-top: 2%;
}

#col01_text {
    font-family: 'IBM Plex Sans', sans-serif;
}

#coluna02 {
    height: auto;
    background-color: #C3D9F7;
    margin: 3%;
}

#col02_title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 4vh;
    padding-top: 2%;
}

#col02_text {
    font-family: 'IBM Plex Sans', sans-serif;
}

#coluna03 {
    height: auto;
    background-color: #C3D9F7;
    margin: 3%;
}

#col03_title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 4vh;
    padding-top: 2%; 
}

#col03_text {
    font-family: 'IBM Plex Sans', sans-serif;
}

#parallax2 {
    background-image: url('/images/caminhao2.jpeg');
    height: 100%;

    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*
    opacity: 0.5;
    */
}

#linha02 {
    justify-content: space-around;
}

#col_p2_01{
    display: block;
    height: auto;
    width: 100%;
    background-color: #343a40;
    margin-top: 7%;
}

#image01 {
    margin-top: 2%;
}

#col_p2_01_imgtxt {
    justify-content: center;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 2%;
}

#col_p2_02{
    display: block;
    height: auto;
    width: 100%;
    background-color: #333b42;
    margin-top: 7%;
}

#image02 {
    margin-top: 2%;
}

#col_p2_02_imgtxt {
    justify-content: center;
    color: White;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 2%;
}